.container{ 
    width: 1440px; 
    margin-left: 35px; 
}
.logo{ 
    text-align: center; 
    padding: 32px 0; 
}
ul{ 
    text-align: center; 
}
li{ 
    display: inline; 
    margin: 0 20px; 
}
li a{ 
    text-decoration: none; 
    color: #000000;
    font-size: 20px; 
}
.champ-item{
    display: inline-block;
    padding-left: 6px;
    width: 350px;
    height: 370px;
}
.img-item{
    display: inline;
    height: 370px;
}
.in4{
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 328px;
    height: 80px;
    background-color: #0E4C67;
}
.intro-video{
    padding-top: 60px;
}
.footer{
    margin-top: 40px; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    background-color: #0E4C67;
    height: 100px;
    padding: 0 16px; 
}
.copyright{
    margin: auto 0; 
}
.copyright span{ 
    color: #ffffff; 
    font-size: 20px; 
}
.email{ 
    text-align: right;
    margin: auto 0; 
}
.inp-email{ 
    width: 280px; 
    height: 52px;
    border: 2px solid #FFA800;
    border-radius: 5px; 
    background-color: transparent; 
    padding-left: 20px; 
}
.btn-submit{ 
    width: 120px; 
    height: 52px; 
    background-color: #FFA800;
    border: none; 
    border-radius: 5px; 
    color: #ffffff; 
    margin-left: 24px;
}